*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    

}
label.portfolio{
    color: white;
    font-size: 20px;
    line-height: 60px;
    padding: 0 70px;
    font-weight: bold;
}
ul{
    display:flex;
    text-decoration: none;
    padding: 0 100px;
    list-style:none;
    margin: 0px;   
}
nav{
    display: flex;
    justify-content: space-between;
}
/* nav ul {
 float: right;
 margin-right: 25px;   
} */
nav ul li{
 line-height: 70px;
 margin: 0 5px;
 display: inline-block;
}
li a{
    color: white;
    text-decoration: none;
}
a:hover{
    background: black;
    transition: x.5s;
}
.nav-links ul i{
    display: none;
}
nav .bar{
    display: none;
}
.text{
    margin:100px 0px 0px 90px;
}
.text h1{
    color: white;
    font-size:10px;
    padding: 0px 0px 2px 5px;
    margin: 10px 0px 0px 50px;
}
  h2,h3{
    color: white;
    font-weight: bold;
     padding: 0px 0px 2px  5px; 
    margin: 10px 0px 0px 50px;
    /* text-align: center; */
}
.text p{
    color:white;
    font-size: 10px;
    margin: 10px 0px 0px 55px;
}
.text button{
    border: 1px solid #fff ;
    background-color: #000;
    padding: 20px 0;
    width:20%;
    color: #fff;
    margin-top:20px;
    margin-left: 50px;
}

.hd{
   margin-top: 20px;
   padding-left: 90px;
   font-weight: bold;
}
h4{
    font-size: 80px;
    opacity: 0.1;
    text-transform: uppercase;
}
.base{
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 60px;
    left:80px;
    text-transform: uppercase;
    border: 1px solid lightgrey;
    display: inline-block;
    padding: 2px 5px;
}
.whole{
    display: flex;
    gap: 80px;
    margin: 40px;
}
.whole2{
    width: 50%;
    

}
.funny h5{
    font-size: 20px;
    font-weight: lighter;
    /* padding-left:200px; */
    justify-content: center;
    /* line-height: 30px; */
}
    button{
    background-color: #000;
    color: beige;
    border:1px solid beige;
    height: fit-content;
    padding: 20px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
    margin-top: 50px;
}
.progress-bar{
    height: 20%;
    width: 80px;
    margin-bottom: 1rem;
    background-color: black;
    border-radius: 5px;
}
    .progress-bar-stripped{
        width: 100%;
        height: 10px;
        background-color:white;
        border: 2px solid black;
        margin: 10px 0;
    }
    .progress-bar-stripped .html{
        height: 100%;
        width: 85%;
        background-color:black;
    }
    .progress-bar-stripped .css{
        height: 100%;
        width: 80%;
        background-color: black;
    }
    .progress-bar-stripped .javascript{
        height: 100%;
        width: 30%;
        background-color: black;
    }
    .progress-bar-stripped .bootstrap{
        height: 100%;
        width: 5%;
        background-color: black;
    }
    .beauty{
        margin-top: 90px;
        padding-left: 50px;
        font-weight: bold;
    }
    h6{
        font-size: 80px;
        opacity: 0.2;
        text-transform: uppercase;
        margin-left: 250px; 
    }
    .port{
        color: black;
        font-size: 15px;
        position:relative;
        bottom: 60px;
        text-transform: uppercase;
        border: 1px solid lightgrey;
        display: inline-block;
        padding: 2px 5px;
        margin-left: 380px;
    }
    .image{
    display: flex 
    }
    img{
        width: 400px;
        height: 400px;
        padding: 10px;
    }
p.apparel{
    /* color: black;
    font-size: 15px;
    position:r
    bottom: 0px;
    text-transform: uppercase;
    display:flex;
    padding: 2px;
    margin-right: 30px;
    padding-right:30px;
    width: 100px; */
    /* text-decoration: underline; */

    color: black;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.underline{
    background-color: #000;
    width: 360px;
    height: 3px;
    margin:5px 25px 25px 25px;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 40px;
}
.damsel{
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.line{
    background-color: #000;
    width: 360px;
    height: 3px;
    margin: 25px;
}
.cutie{
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
}
.horizon{
    background-color: #000;
    width: 360px;
    height: 3px;
    margin: 25px;
}
.wow{
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.good{
    background-color: #000;
    width: 360px;
    height:3px;
    margin: 25px;
}
.one{
    color: #000;
    font-size:15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.love{
    background-color: #000;
    width: 360px;
    height: 3px;
    margin: 25px;
}
.part button{
    background-color: #000;
    color: beige;
    border:1px solid beige;
    height: fit-content;
    padding-right:15px;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:70px;
    margin-top: 40px;
}
.footer{
    background-color: #000;
    width: 100%;
    height: 100%;
    margin-top: 200px;
    color: #fff;
    padding-bottom: 50px;
    
}
.footer-domain{
    display: flex;
    color: white;
    padding-top: 50px;
}
.main{
    color: #fff;
      padding-left: 50px;
  
}
.main p{
    color: #fff;
    font-size: 15px;
    /* padding:20px  0px 10px 100px;  */
    /* margin-top:50px; */
}
.main h1{
    color: #fff;
    font-size: 35px;
    /* margin-top: 30px; */
    /* margin-bottom: 20px; */
    /* margin-left: 100px; */
    /* padding-bottom: 40px; */
}
.poll{
    font-size:12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    margin-left: 50px;
    list-style: none;
    margin-top: 30px;
}
.poll1{
font-size:12px;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top:20px;
margin-left:50px;
list-style: none;
text-align:justify;
}
 .icon{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: 40px;
}
.fa-brands{
    color: #fff;
}
.contact button{
    background-color:palevioletred;
    color: #fff;
    border:1px solid beige;
    height: fit-content;
    padding-right:20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left:80px; */
    margin-top: 40px;
    border-radius: 25px;
}
/* .dash{
    margin: 400px 0px 100px 20px;
    padding-left:80px;
} */
.copy{
color: #fff;
text-align:center;
border-top: 1px solid #fff;
margin-top: 50px;
}



@media(max-width:956px){
    .hd {
        padding-left: 20px;
    }
    .whole {
       flex-direction: column;
        margin: 20px;
    }
    .whole2{
        width: 100%;
    }
    button {
        width: 100%;
    }
    h6 {
        font-size: 50px;
        margin-left: 0px;
    }
    .port {
        bottom: 40px;
        margin-left: 80px;
    }
    .beauty{
        margin-left: 20px;
    }
    .container{
        flex-direction:column;
        margin: 0px;
        justify-content: center;
        padding: 15px;
    }
    img{
        width: 100%;
    }
    .footer-domain{
        flex-direction: column;
    }
    
    .contact button {
    padding-right: 0px;
    width: 30%;
    margin-left: 50px;
    }

    /* nav-bar */
    ul{
        flex-direction: column;
        padding: 0;
        list-style:none;
        margin: 0px;   
    }
    .nav-links{
        position: fixed;
        top: 0;
        right: -400px;
        background-color: rgb(9, 9, 9);
        padding: 0 10px;
        width: 50%;
        text-align:center;
    }
    .fa-circle-xmark{
        text-align: left;
    }
    ul li{
        display: inline-block;
    }
    .fa-solid{
        color: white;
        margin: 20px;
        font-size: 30px;
        display: block;
    }
    .nav-links ul i{
        display: block;
    }
    nav .bar{
        display: block;
    }
    label.portfolio {
        padding: 0 20px;
    }
    .text {
        margin: 100px 0px 0px 20px;
    }
    .header{
        height: 100%;
        padding-bottom: 50px;
    }
    .text button {
        width: 50%;
    }
    .underline {
        background-color: #000;
        width: auto;
    }
    .port{
        z-index: -1;
    }
    .base{
        z-index: -1;
    }

}













